# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml
dist/
build/
.cache/
.next/
.out/

# Editor/OS
.DS_Store
.idea/
.vscode/
*.swp

# Docker
**/cache/
